<div class="container">
  <h1>Paniers près de <%= @query %></h1>
  <% @paniers_alentour.each  do |panier| %>
    <p><%= panier.titre %></p>
  <% end %>

  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

