$blue: #87b4bd;

.main {
  position: relative;
}


.search {
    margin-top: 70px;
    margin-left: 45%;

  h1 {
    font-size: 64px;
    color: white;
  }
  p {
    font-size: 18px;
    color: white;
  }
}

.banner {
  justify-self: flex-end;
  z-index: -2;
}

.search-form {
  margin-top: 150px;
  form {
    display: flex;
    justify-content: center;
  }
  button {
    border-radius: 0 10px 10px 0;
  }
  p {
    color: black;
  }
}

#search-bar {
  border-radius: 10px 0 0 10px !important;
  border: 1px solid #ced4da !important;
  padding: 5px 10px !important;
  width: 100% !important;
}




