.main {
  position: relative;
}

.circle {
  width: 986px;
  height: 783px;
  z-index: -1;
  border-radius: 50%;
  background-color: #87b4bd;
  position: absolute;
  top: -503px;
  left: -243px;
}

.grid {
  z-index: 2;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.search {
    margin-top: 70px;
    margin-left: 45%;

  h1 {
    font-size: 64px;
  }
  p {
    font-size: 18px;
  }
}
  .banner {
    justify-self: flex-end;
    z-index: -2;
  }

.search-form {
  margin-top: 150px;
  form {
    display: flex;
    justify-content: center;
  }
  button {
    border-radius: 0 10px 10px 0;
  }
}

#search-bar {
  border-radius: 10px 0 0 10px;
  border: 1px solid #ced4da;
  padding: 5px 10px;
  width: 100%;
}




