.banner {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.vox-cdn.com%2Fthumbor%2FbXLQg6Go0D3GMWPNlJzrx5i82oE%3D%2F0x0%3A1920x1080%2F1600x900%2Fcdn.vox-cdn.com%2Fuploads%2Fchorus_image%2Fimage%2F54697823%2FFoodWaste1_noLogo.0.jpg&f=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-container {
  p, h1 {
    font-size: 36px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  h1 {
    font-size: 84px;
    vertical-align: center;
    font-weight: bold;
  }
}



