.new-panier-card {
  box-shadow: 0 0 12px grey;
  border-radius: 5px;
}

.index-panier-card {
  position: relative;
  box-shadow: 0 0 12px grey;
  border-radius: 5px;
  width: 95%;
  height: 250px;
  justify-self:center;
  .content-position {
    position: absolute;
    bottom: 0;
  }
}
