.grid {
  z-index: 2;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}


.information-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .first-left {
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/dlogliyoh/image/upload/v1560875915/undraw_journey_lwlj_zn2dhv.svg);
  }
  .first-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .second-left {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .second-right {
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/dlogliyoh/image/upload/v1560875892/map_okmymt.svg);
  }
  .third-left {
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/dlogliyoh/image/upload/v1560875778/undraw_happy_birthday_s72n_lw8rq4.svg);
  }
  .third-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
}


.index-panier-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 20px 20px;
  flex-grow: 1;
}

@media (max-width: 992px) {
  .index-panier-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .index-panier-grid {
    grid-template-columns: 1fr;
  }
}
